h3 {
  display: flex;
  flex-direction: row;

  > span {
    flex: 1;
  }

  button {
    + button {
      margin-left: 0.5rem;
    }

    svg {
      vertical-align: inherit;
    }
  }
}

.variable-container.ant-form-item {
  margin-bottom: 1rem;

  &:last-child {
    margin-bottom: 0;
  }

  .ant-col.ant-form-item-label {
    padding: 0;
  }

  .variable-input {
    margin-top: 0.25rem;

    &.readonly,
    &.readonly input {
      cursor: not-allowed;
    }
  }
}
